<!doctype html>
<html>
  <head>
    <title>Attach solution</title>
  </head>
  <body>
    <form action="/solutions/<%= solution_id %>" method="post" enctype="multipart/form-data">
      <p>Attaching solution to solution with id: <%= solution_id %>.</p>
      <label for="file">Solution file</label>
      <input type="file" name="solution_file" /><br />
      <input type="submit" value="Send" />
    </form>
  </body>
</html>
